:root  > * {
    --md-primary-fg-color:        #0A4243;
    --md-primary-fg-color--light: #F7F3FD;
    --md-primary-fg-color--dark:  #031112;
  
    // Primary color shades

    --md-primary-bg-color:               hsla(0, 0%, 100%, 1);
    --md-primary-bg-color--light:        hsla(0, 0%, 100%, 0.7);
  
    // Accent color shades
    --md-accent-fg-color:                hsla(#{hex2hsl($clr-indigo-a200)}, 1);
    --md-accent-fg-color--transparent:   hsla(#{hex2hsl($clr-indigo-a200)}, 0.1);
    --md-accent-bg-color:                hsla(0, 0%, 100%, 1);
    --md-accent-bg-color--light:         hsla(0, 0%, 100%, 0.7);


}